@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>GRPSHIT@shit.com</p>

<address>
    <strong>Gitlab:</strong> <a href="mailto:Support@example.com">Service Store Repository</a><br />
    <strong>Mattermost:</strong> <a href="mailto:Marketing@example.com">Our Mattermost Channel</a>
</address>
